body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.judul {
    text-align: center;
    color: #333;
}

.isi {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.navbar {
    background-color: #737070;
    padding: 10px;
}

.selected {
    background-color: #4b4b4b;
    font-weight: bold;
    padding: 10px;
    color: rgb(182, 178, 178);
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.nav-link:hover {
    background-color: #555;
    color: #857272;
}

.identitas {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.label-tugas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    font-weight: bold;
    text-decoration: none;
    background-color: #4b4b4b;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.tugas-title {
    font-size: 16px;
}

.tugas-date {
    font-size: 14px;
    color: #ccc;
}

.language-markup {
    background-color: #8a8989;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    color: #afacac;
}